img {
  width: 20px;
}

tbody tr:hover {
  cursor: pointer;
  background-color: rgb(59, 59, 59);
  color: #fff;
  transition: 0.5s;
}

table{
  text-align: center;
}

thead{
  font-size: 16px;
  font-weight: 800;
}

.text-center{
  text-decoration: underline;
  margin: 4rem 0 2rem 0;
}
