table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  border-collapse: collapse;
}

table,
th,
td, tbody {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

a {
  display: block;
}
